@page
@model BusXpress.Pages.TicketsModel
@{
    Layout = null;
    ViewData["Title"] = "My Tickets";
}

@await Html.PartialAsync("ClientNavigation")


<h2>My Tickets</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Bus</th>
            <th>Route</th>
            <th>Date Issued</th>
            <th>Price</th>
            <th>Export</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>@ticket.TicketId</td>
                <td>@ticket.BusName</td>
                <td>@ticket.RouteName - @ticket.RouteDestination</td>
                <td>@ticket.DateIssued</td>
                <td>@ticket.Price</td>
                <td>
                    <a href="/Clients/ExportToPdf?ticketId=@ticket.TicketId" class="btn btn-sm btn-success">Export PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>

